*{
    margin: 0;
    padding: 0;
}
.header2 img{
    height: 89vh;
}
.main img{
    width: 400px;
    height: 250px;
}
.main3img{
    width: 120px;
    height: 120px;
    margin: 10px auto ;


   

   
}
